.l-main
  // for fixing main content at middle
  flex: 1
  // padding-top: rhythmical-space(2)
.l-main_container,
.l-pagination
  margin-left: rhythmical-space(0.25)
  margin-right: rhythmical-space(0.25)
  +mq-medium()
    margin-left: rhythmical-space(0.5)
    margin-right: rhythmical-space(0.5)
  +mq-larger()
    margin-left: auto
    margin-right: auto
    padding-left: rhythmical-space(1)
    padding-right: rhythmical-space(1)
    width: 960px
.l-posts
  margin-left: rhythmical-space(0.25)
  margin-right: rhythmical-space(0.25)
  +mq-medium()
    margin-left: rhythmical-space(0.5)
    margin-right: rhythmical-space(0.5)
  +mq-larger()
    margin-left: auto
    margin-right: auto
    max-width: 1600px
    padding-left: rhythmical-space(1)
    padding-right: rhythmical-space(1)
